<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "immaginicentrate">
        
        <img src="{{url_for('static', filename='images/inter.jpg')}}" align="middle"/> <h1> Seconda squadra di Milano!</h1>
        <p>Fondato il 9 marzo 1908 da un gruppo di soci dissidenti del Milan, il club ha sempre militato nella massima serie del campionato nazionale a partire dalla propria prima partita ufficiale, nel 1909, ed è l'unico ad aver partecipato a tutte le edizioni della Serie A, istituita nella stagione 1929-30.</p>
            <p> Vuoi vedere la formazione del Inter? Clicca <a href="/formazioneInter"> qui</a></p>
            <p> Vuoi tornare indietro? Clicca <a href="/login">qui</a></p>
        </body>

</html>