<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "immaginicentrate">
        
        <img src="{{url_for('static', filename='images/juve.jpg')}}" align="middle"/>
        <p>Fondata nel 1897 da un gruppo di studenti liceali locali, la Juve, com'è colloquialmente abbreviata, è il secondo club professionistico per anzianità tra quelli tuttora attivi nel Paese, dopo il Genoa (1893); è il più titolato e con maggior tradizione sportiva oltreché uno dei più blasonati al mondo con 70 trofei</p>
            <p> Vuoi vedere la formazione della Juver? Clicca <a href="/formazioneJuve"> qui</a></p>
            <p> Vuoi tornare indietro? Clicca <a href="/login">qui</a></p>
        </body>

</html>