<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "immaginicentrate">
        <form action="/squadraPreferita" method = 'GET'>
            scegli la tua squadra del cuore: <br>
            <select name="squadra">
                <option value="Juve">Juve</option>
                <option value="Inter">Inter</option>
                <option value="Milan">Milan</option>
                <option value="Roma">Roma</option>
                <option value="Napoli">Napoli</option>
            </select><br><br>
            <input type = "submit" value = "submit"/> 
        </form>
    <p> Per maggiori dettagli sulla tua squadra del cuore clicca<a href="/squadraPreferita"> qui</a></p>
    </body>

</html>