<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "immaginicentrate">
        
        <img src="{{url_for('static', filename='images/napoli.jpg')}}" align="middle"/>
        <p> Milita in Serie A, la massima serie del campionato italiano.

            Il club venne fondato de facto nel 1926 come Associazione Calcio Napoli, in seguito al cambio di statuto e di denominazione del Foot-Ball Club Internazionale-Naples, a sua volta costituitosi nel 1922. </p>
    
            <p> Vuoi vedere la formazione del Napoli? Clicca <a href="/formazioneNapoli"> qui</a></p>
            <p> Vuoi tornare indietro? Clicca <a href="/login">qui</a></p>
        </body>

</html>