<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "immaginicentrate">
        
        <img src="{{url_for('static', filename='images/roma.jpg')}}" align="middle"/>
        <p> Fondata nel 1927 grazie alla fusione di tre squadre, ha come colori sociali il rosso e il giallo, tonalità cromatiche corrispondenti al gonfalone del Campidoglio. Includendo la stagione 2022-2023, la Roma ha partecipato a 94 campionati nazionali (90 in Serie A, tre in Divisione Nazionale e uno in Serie B)</p>
            <p> Vuoi vedere la formazione della Roma? Clicca <a href="/formazioneRoma"> qui</a></p>
            <p> Vuoi tornare indietro? Clicca <a href="/login">qui</a></p>
        </body>

</html>